/*
  Common statement styles. These styles will work in a browser or using the HTML
  to PDF anvil endpoint.
*/

body {
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  padding: 0;
}

table tr td:last-child {
  text-align: right;
}

h1 {
  font-size: 1.5em;

  margin: 0 0 40px 0;
}
h2 {
  font-size: 1.25em;
  margin: 60px 0 10px;
}


/* Transaction & summary table */

table.table {
  margin:0;
  font-size:0.875em;
}
table.table th{
  text-align:left;
  color:#999;
  padding:10px 0 15px 0;
  font-size:0.75em;
  text-transform:uppercase;
}
table.table th:last-child{
  text-align:right;
}
table.table thead th{
  border-bottom:2px solid #ddd;
}
table.table tfoot td,
table.table tfoot th {
  padding:15px 0;
  border-top:2px solid #ddd;
}
table.table td{
  padding:15px 0;
}
table.table tbody tr:first-child td{
  padding-top:25px;
}
table.table.has-bottom-border tbody tr:last-child td{
  padding-bottom:25px;
  border-bottom:2px solid #ddd;
}

/* Company info */

.logo-container {
  margin: 0 0 10px 0;
}

.company-info {
  float: right;
  font-size: 0.875em;
  margin-top: 5px;
  text-align: right;
  color: #999;
  line-height: 1.3;
}


/* Statement info */

.statement-info {
  font-size: 0.875em;
}

.statement-info-item {
  margin: 15px 0;
}

.statement-info-item-label {
  color: #999;
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.statement-info-item-info {}


/* Summary */

.summary {}

.summary-row td {
  font-size: 1.25em;
}

.summary-heading-period {}

.summary-heading-amount {
  text-align: right !important;
}

.summary-amount {
  text-align: right;
  font-weight: bold;
}


/* Transactions */

.transactions {}

.transactions-heading-date {
  width: 90px;
}
.transactions-heading-description {}
.transactions-heading-amount {
  text-align: right !important;
  width: 80px;
}

.transaction-amount {
  text-align: right;
}

.transaction-footer-amount {
  text-align: right;
  font-weight: bold;
}


/* Contact us */

.contact-us {
  font-size: 0.75em;
  margin-top: 70px;
}


/* Footer */

.footer {
  float: right;
  margin-top: 5px;
  font-size: 0.75em;
  color: #ccc;
}

.footer span {
  padding: 0 5px;
  color: black;
}

.footer span:first-child {
  padding-left: 0;
}

.footer span:last-child {
  padding-right: 0;
}

.pdf-only {
  display: none;
}
